In [1]:
import pandas as pd
import os
import datetime
import requests
from datetime import datetime

In [2]:
df_Q1 = pd.read_csv('2017Q1-capitalbikeshare-tripdata.csv')

In [3]:
df_Q1.Duration = pd.to_timedelta(df_Q1.Duration, unit='s')

In [4]:
df_Q1['Start date'] = pd.to_datetime(df_Q1['Start date'])

In [5]:
df_Q1.set_index('Start date', inplace=True)

In [6]:
df_Q1.index.hour

Int64Index([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
            ...
            23, 23, 23, 23, 23, 23, 23, 23, 23, 23],
           dtype='int64', name='Start date', length=646510)

In [7]:
df_Q1.index.floor(freq='H')

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 00:00:00',
               '2017-01-01 00:00:00', '2017-01-01 00:00:00',
               '2017-01-01 00:00:00', '2017-01-01 00:00:00',
               '2017-01-01 00:00:00', '2017-01-01 00:00:00',
               '2017-01-01 00:00:00', '2017-01-01 00:00:00',
               ...
               '2017-03-31 23:00:00', '2017-03-31 23:00:00',
               '2017-03-31 23:00:00', '2017-03-31 23:00:00',
               '2017-03-31 23:00:00', '2017-03-31 23:00:00',
               '2017-03-31 23:00:00', '2017-03-31 23:00:00',
               '2017-03-31 23:00:00', '2017-03-31 23:00:00'],
              dtype='datetime64[ns]', name='Start date', length=646510, freq=None)

In [8]:
df_weather_Q1 = pd.read_csv('weatherwashingtonQ1.csv')

In [9]:
df_weather_Q1.rename(columns = {'time':'datetime'}, inplace = True)

In [10]:
df_weather_Q1_B = df_weather_Q1.set_index('datetime')

In [11]:
df_weather_Q1['datetimelocal'] = df_weather_Q1.datetime.str[0:19]

In [12]:
df_weather_Q1_C = df_weather_Q1

In [13]:
dfnew_Q1=df_Q1.reset_index()

In [14]:
dfnew_Q1['datetime'] = dfnew_Q1['Start date'].dt.floor('H')

In [15]:
dfnew_Q1['datetimelocal'] = dfnew_Q1['datetime'].astype(str)

In [16]:
dfnew_Q1_B = dfnew_Q1.set_index('datetimelocal')

In [17]:
result_Q1=df_weather_Q1_C.merge(dfnew_Q1_B, on='datetimelocal')

In [18]:
result_Q1.to_csv('result_Q1.csv', index=False)

In [19]:
df_Q2 = pd.read_csv('2017Q2-capitalbikeshare-tripdata.csv')

In [20]:
df_Q2.Duration = pd.to_timedelta(df_Q2.Duration, unit='s')

In [21]:
df_Q2['Start date'] = pd.to_datetime(df_Q2['Start date'])

In [22]:
df_Q2.set_index('Start date', inplace=True)

In [23]:
df_Q2.index.hour

Int64Index([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
            ...
            23, 23, 23, 23, 23, 23, 23, 23, 23, 23],
           dtype='int64', name='Start date', length=1104418)

In [24]:
df_Q2.index.floor(freq='H')

DatetimeIndex(['2017-04-01 00:00:00', '2017-04-01 00:00:00',
               '2017-04-01 00:00:00', '2017-04-01 00:00:00',
               '2017-04-01 00:00:00', '2017-04-01 00:00:00',
               '2017-04-01 00:00:00', '2017-04-01 00:00:00',
               '2017-04-01 00:00:00', '2017-04-01 00:00:00',
               ...
               '2017-06-30 23:00:00', '2017-06-30 23:00:00',
               '2017-06-30 23:00:00', '2017-06-30 23:00:00',
               '2017-06-30 23:00:00', '2017-06-30 23:00:00',
               '2017-06-30 23:00:00', '2017-06-30 23:00:00',
               '2017-06-30 23:00:00', '2017-06-30 23:00:00'],
              dtype='datetime64[ns]', name='Start date', length=1104418, freq=None)

In [25]:
df_weather_Q2 = pd.read_csv('weatherwashingtonQ2.csv')

In [26]:
df_weather_Q2.rename(columns = {'time':'datetime'}, inplace = True)

In [27]:
df_weather_Q2_B = df_weather_Q2.set_index('datetime')

In [28]:
df_weather_Q2['datetimelocal'] = df_weather_Q2.datetime.str[0:19]

In [29]:
df_weather_Q2_C = df_weather_Q2

In [30]:
dfnew_Q2=df_Q2.reset_index()

In [31]:
dfnew_Q2['datetime'] = dfnew_Q2['Start date'].dt.floor('H')

In [32]:
dfnew_Q2['datetimelocal'] = dfnew_Q2['datetime'].astype(str)

In [33]:
dfnew_Q2_B = dfnew_Q2.set_index('datetimelocal')

In [34]:
result_Q2=df_weather_Q2_C.merge(dfnew_Q2_B, on='datetimelocal')

In [35]:
result_Q2.to_csv('result_Q2.csv', index=False)

In [36]:
df_Q3 = pd.read_csv('2017Q3-capitalbikeshare-tripdata.csv')

In [37]:
df_Q3.Duration = pd.to_timedelta(df_Q3.Duration, unit='s')

In [38]:
df_Q3['Start date'] = pd.to_datetime(df_Q3['Start date'])

In [39]:
df_Q3.set_index('Start date', inplace=True)

In [40]:
df_Q3.index.hour

Int64Index([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
            ...
            23, 23, 23, 23, 23, 23, 23, 23, 23, 23],
           dtype='int64', name='Start date', length=1191585)

In [41]:
df_Q3.index.floor(freq='H')

DatetimeIndex(['2017-07-01 00:00:00', '2017-07-01 00:00:00',
               '2017-07-01 00:00:00', '2017-07-01 00:00:00',
               '2017-07-01 00:00:00', '2017-07-01 00:00:00',
               '2017-07-01 00:00:00', '2017-07-01 00:00:00',
               '2017-07-01 00:00:00', '2017-07-01 00:00:00',
               ...
               '2017-09-30 23:00:00', '2017-09-30 23:00:00',
               '2017-09-30 23:00:00', '2017-09-30 23:00:00',
               '2017-09-30 23:00:00', '2017-09-30 23:00:00',
               '2017-09-30 23:00:00', '2017-09-30 23:00:00',
               '2017-09-30 23:00:00', '2017-09-30 23:00:00'],
              dtype='datetime64[ns]', name='Start date', length=1191585, freq=None)

In [42]:
df_weather_Q3 = pd.read_csv('weatherwashingtonQ3.csv')

In [43]:
df_weather_Q3.rename(columns = {'time':'datetime'}, inplace = True)

In [44]:
df_weather_Q3_B = df_weather_Q3.set_index('datetime')

In [45]:
df_weather_Q3['datetimelocal'] = df_weather_Q3.datetime.str[0:19]

In [46]:
df_weather_Q3_C = df_weather_Q3

In [47]:
dfnew_Q3=df_Q3.reset_index()

In [48]:
dfnew_Q3['datetime'] = dfnew_Q3['Start date'].dt.floor('H')

In [49]:
dfnew_Q3['datetimelocal'] = dfnew_Q3['datetime'].astype(str)

In [50]:
dfnew_Q3_B = dfnew_Q3.set_index('datetimelocal')

In [51]:
result_Q3=df_weather_Q3_C.merge(dfnew_Q3_B, on='datetimelocal')

In [52]:
result_Q3.to_csv('result_Q3.csv', index=False)

In [53]:
df_Q4 = pd.read_csv('2017Q4-capitalbikeshare-tripdata.csv')

In [54]:
df_Q4.Duration = pd.to_timedelta(df_Q4.Duration, unit='s')

In [55]:
df_Q4['Start date'] = pd.to_datetime(df_Q4['Start date'])

In [56]:
df_Q4.set_index('Start date', inplace=True)

In [57]:
df_Q4.index.hour

Int64Index([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
            ...
            23, 23, 23, 23, 23, 23, 23, 23, 23, 23],
           dtype='int64', name='Start date', length=815264)

In [58]:
df_Q4.index.floor(freq='H')

DatetimeIndex(['2017-10-01 00:00:00', '2017-10-01 00:00:00',
               '2017-10-01 00:00:00', '2017-10-01 00:00:00',
               '2017-10-01 00:00:00', '2017-10-01 00:00:00',
               '2017-10-01 00:00:00', '2017-10-01 00:00:00',
               '2017-10-01 00:00:00', '2017-10-01 00:00:00',
               ...
               '2017-12-31 23:00:00', '2017-12-31 23:00:00',
               '2017-12-31 23:00:00', '2017-12-31 23:00:00',
               '2017-12-31 23:00:00', '2017-12-31 23:00:00',
               '2017-12-31 23:00:00', '2017-12-31 23:00:00',
               '2017-12-31 23:00:00', '2017-12-31 23:00:00'],
              dtype='datetime64[ns]', name='Start date', length=815264, freq=None)

In [59]:
df_weather_Q4 = pd.read_csv('weatherwashingtonQ4.csv')

In [60]:
df_weather_Q4.rename(columns = {'time':'datetime'}, inplace = True)

In [61]:
df_weather_Q4_B = df_weather_Q4.set_index('datetime')

In [62]:
df_weather_Q4['datetimelocal'] = df_weather_Q4.datetime.str[0:19]

In [63]:
df_weather_Q4_C = df_weather_Q4

In [64]:
dfnew_Q4=df_Q4.reset_index()

In [65]:
dfnew_Q4['datetime'] = dfnew_Q4['Start date'].dt.floor('H')

In [66]:
dfnew_Q4['datetimelocal'] = dfnew_Q4['datetime'].astype(str)

In [67]:
dfnew_Q4_B = dfnew_Q4.set_index('datetimelocal')

In [68]:
result_Q4=df_weather_Q4_C.merge(dfnew_Q4_B, on='datetimelocal')

In [69]:
result_Q4.to_csv('result_Q4.csv', index=False)

In [135]:
resultQ1_B = result_Q1.set_index('datetime_y')

In [136]:
resultQ2_B = result_Q2.set_index('datetime_y')

In [137]:
resultQ3_B = result_Q3.set_index('datetime_y')

In [138]:
resultQ4_B = result_Q4.set_index('datetime_y')

In [92]:
#result_allQs = pd.concat([resultQ1_B, resultQ2_B, resultQ3_B, resultQ4_B])

In [96]:
#result_allQs

,atemperatue,humidity,temperature,datetime_x,windSpeed,datetimelocal,Start date,Duration,End date,Start station number,Start station,End station number,End station,Bike number,Member type
datetime_y,,,,,,,,,,,,,,,
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:00:41,00:03:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:06:53,00:27:56,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:07:10,00:22:36,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:07:22,00:22:07,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:07:36,00:27:16,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:43:17,00:04:37,2017-12-31 23:47:54,31109,7th & T St NW,31118,3rd & Elm St NW,W21036,Member
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:51:55,00:06:39,2017-12-31 23:58:35,31125,15th & W St NW,31110,20th St & Florida Ave NW,W23147,Casual
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:55:19,00:06:33,2018-01-01 00:01:52,31209,1st & N St SE,31609,Maine Ave & 7th St SW,W20144,Member
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:57:42,00:21:59,2018-01-01 00:19:42,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,W20860,Member
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:58:21,00:04:26,2018-01-01 00:02:48,31229,New Hampshire Ave & T St NW,31119,14th & Belmont St NW,W01459,Member

In [97]:
#result_allQs.to_csv('result_allQs1.csv', index=False)

In [101]:
import requests
url = 'https://gbfs.capitalbikeshare.com/gbfs/en/station_information.json'
response = requests.get(url)
stations = pd.DataFrame(response.json()['data']['stations'])

In [102]:
stations.to_csv('stations.csv', index=False)

In [117]:
stations = pd.read_csv('stations.csv')

In [118]:
stations_2 = stations

In [119]:
stations

,station_id,external_id,name,short_name,lat,lon,region_id,rental_methods,capacity,electric_bike_surcharge_waiver,eightd_has_key_dispenser,has_kiosk
0,1,082469cc-1f3f-11e7-bf6b-3863bb334450,Eads St & 15th St S,31000,38.858971,-77.053230,41,"['CREDITCARD', 'KEY']",15,False,False,True
1,2,08246b69-1f3f-11e7-bf6b-3863bb334450,18th St & S Eads St,31001,38.857250,-77.053320,41,"['CREDITCARD', 'KEY']",11,False,False,True
2,3,08246c35-1f3f-11e7-bf6b-3863bb334450,Crystal Dr & 20th St S,31002,38.856425,-77.049232,41,"['CREDITCARD', 'KEY']",17,False,False,True
3,4,08246cd5-1f3f-11e7-bf6b-3863bb334450,Crystal Dr & 15th St S,31003,38.860170,-77.049593,41,"['CREDITCARD', 'KEY']",11,False,False,True
4,5,08246d68-1f3f-11e7-bf6b-3863bb334450,Aurora Hills Cmty Ctr / 18th St & S Hayes St,31004,38.857866,-77.059490,41,"['CREDITCARD', 'KEY']",11,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...
574,605,0cabc1c7-cf6f-4afd-9242-c011b77f6330,Valley Ave & Wheeler Rd SE,31824,38.836646,-76.993589,42,"['CREDITCARD', 'KEY']",19,False,False,True
575,606,db81ad06-aad3-4e23-b2b9-05b39b41f8fc,Ridge Rd Community Center,31718,38.876227,-76.940981,42,"['CREDITCARD', 'KEY']",19,False,False,True
576,607,7641069c-42a6-4e3e-9769-7df51da6978d,Fort Stanton Rec Center,31825,38.857369,-76.977688,42,"['CREDITCARD', 'KEY']",19,False,False,True
577,608,7a19d0e7-2b3c-4805-b843-1aec84a05bfe,Reservoir Rd & 38th St NW,31325,38.912614,-77.074323,42,"['CREDITCARD', 'KEY']",19,False,False,True
578,609,d325a449-32d7-488d-b746-9455ad003834,22nd & H St NW,31127,38.898925,-77.048852,42,"['CREDITCARD', 'KEY']",17,False,False,True

In [120]:
stations_2['Start station number'] = stations_2['short_name'].astype(int)
#stations_2.rename(columns = {'short_name':'Start station number'}, inplace = True)

In [107]:
#stations_2['Start station number']= stations_2['Start station number'].astype(float)

In [121]:
stations_2

,station_id,external_id,name,short_name,lat,lon,region_id,rental_methods,capacity,electric_bike_surcharge_waiver,eightd_has_key_dispenser,has_kiosk,Start station number
0,1,082469cc-1f3f-11e7-bf6b-3863bb334450,Eads St & 15th St S,31000,38.858971,-77.053230,41,"['CREDITCARD', 'KEY']",15,False,False,True,31000
1,2,08246b69-1f3f-11e7-bf6b-3863bb334450,18th St & S Eads St,31001,38.857250,-77.053320,41,"['CREDITCARD', 'KEY']",11,False,False,True,31001
2,3,08246c35-1f3f-11e7-bf6b-3863bb334450,Crystal Dr & 20th St S,31002,38.856425,-77.049232,41,"['CREDITCARD', 'KEY']",17,False,False,True,31002
3,4,08246cd5-1f3f-11e7-bf6b-3863bb334450,Crystal Dr & 15th St S,31003,38.860170,-77.049593,41,"['CREDITCARD', 'KEY']",11,False,False,True,31003
4,5,08246d68-1f3f-11e7-bf6b-3863bb334450,Aurora Hills Cmty Ctr / 18th St & S Hayes St,31004,38.857866,-77.059490,41,"['CREDITCARD', 'KEY']",11,False,False,True,31004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,605,0cabc1c7-cf6f-4afd-9242-c011b77f6330,Valley Ave & Wheeler Rd SE,31824,38.836646,-76.993589,42,"['CREDITCARD', 'KEY']",19,False,False,True,31824
575,606,db81ad06-aad3-4e23-b2b9-05b39b41f8fc,Ridge Rd Community Center,31718,38.876227,-76.940981,42,"['CREDITCARD', 'KEY']",19,False,False,True,31718
576,607,7641069c-42a6-4e3e-9769-7df51da6978d,Fort Stanton Rec Center,31825,38.857369,-76.977688,42,"['CREDITCARD', 'KEY']",19,False,False,True,31825
577,608,7a19d0e7-2b3c-4805-b843-1aec84a05bfe,Reservoir Rd & 38th St NW,31325,38.912614,-77.074323,42,"['CREDITCARD', 'KEY']",19,False,False,True,31325
578,609,d325a449-32d7-488d-b746-9455ad003834,22nd & H St NW,31127,38.898925,-77.048852,42,"['CREDITCARD', 'KEY']",17,False,False,True,31127

In [122]:
stations_summary = stations_2[['Start station number', 'lat', 'lon']]

In [123]:
stations_summary=stations_summary.set_index('Start station number')

In [124]:
stations_summary

                            lat        lon
Start station number
31000                 38.858971 -77.053230
31001                 38.857250 -77.053320
31002                 38.856425 -77.049232
31003                 38.860170 -77.049593
31004                 38.857866 -77.059490
...                         ...        ...
31824                 38.836646 -76.993589
31718                 38.876227 -76.940981
31825                 38.857369 -76.977688
31325                 38.912614 -77.074323
31127                 38.898925 -77.048852

[579 rows x 2 columns]

In [133]:
stations_summary.rename(columns = {'lat':'latstart', 'lon':'lonstart'}, inplace = True)

In [139]:
resultQ1_C=resultQ1_B.merge(stations_summary, on='Start station number')

In [140]:
resultQ2_C=resultQ2_B.merge(stations_summary, on='Start station number')

In [141]:
resultQ3_C=resultQ3_B.merge(stations_summary, on='Start station number')

In [142]:
resultQ4_C=resultQ4_B.merge(stations_summary, on='Start station number')

In [149]:
stations_summary2 = stations_summary.reset_index()

In [150]:
stations_summary2.rename(columns = {'Start station number':'End station number', 'latstart':'latend', 'lonstart':'lonend'}, inplace = True)

In [151]:
stations_summary2

     End station number     latend     lonend
0                 31000  38.858971 -77.053230
1                 31001  38.857250 -77.053320
2                 31002  38.856425 -77.049232
3                 31003  38.860170 -77.049593
4                 31004  38.857866 -77.059490
..                  ...        ...        ...
574               31824  38.836646 -76.993589
575               31718  38.876227 -76.940981
576               31825  38.857369 -76.977688
577               31325  38.912614 -77.074323
578               31127  38.898925 -77.048852

[579 rows x 3 columns]

In [154]:
stations_summary2=stations_summary2.set_index('End station number')

In [155]:
stations_summary2

                       latend     lonend
End station number
31000               38.858971 -77.053230
31001               38.857250 -77.053320
31002               38.856425 -77.049232
31003               38.860170 -77.049593
31004               38.857866 -77.059490
...                       ...        ...
31824               38.836646 -76.993589
31718               38.876227 -76.940981
31825               38.857369 -76.977688
31325               38.912614 -77.074323
31127               38.898925 -77.048852

[579 rows x 2 columns]

In [156]:
resultQ1_D=resultQ1_C.merge(stations_summary2, on='End station number')

In [166]:
resultQ1_D.to_csv('resultQ1_D.csv', index=False)

MemoryError:

In [157]:
resultQ2_D=resultQ2_C.merge(stations_summary2, on='End station number')

In [165]:
resultQ3_D=resultQ3_C.merge(stations_summary2, on='End station number')

MemoryError:

In [161]:
resultQ4_D=resultQ4_C.merge(stations_summary2, on='End station number')

MemoryError:

In [127]:
#result_allQs['Start station number'] = result_allQs['Start station number'].astype(str)

MemoryError: