In [1]:
import pandas as pd
import os
import datetime

In [7]:
df_Q1 = pd.read_csv('2017Q1-capitalbikeshare-tripdata.csv')

In [8]:
df_Q1.Duration = pd.to_timedelta(df_Q1.Duration, unit='s')

In [9]:
df_Q1['Start date'] = pd.to_datetime(df_Q1['Start date'])

In [10]:
df_Q1.set_index('Start date', inplace=True)

In [11]:
df_Q1.index.hour

Int64Index([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
            ...
            23, 23, 23, 23, 23, 23, 23, 23, 23, 23],
           dtype='int64', name='Start date', length=646510)

In [12]:
df_Q1.index.floor(freq='H')

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 00:00:00',
               '2017-01-01 00:00:00', '2017-01-01 00:00:00',
               '2017-01-01 00:00:00', '2017-01-01 00:00:00',
               '2017-01-01 00:00:00', '2017-01-01 00:00:00',
               '2017-01-01 00:00:00', '2017-01-01 00:00:00',
               ...
               '2017-03-31 23:00:00', '2017-03-31 23:00:00',
               '2017-03-31 23:00:00', '2017-03-31 23:00:00',
               '2017-03-31 23:00:00', '2017-03-31 23:00:00',
               '2017-03-31 23:00:00', '2017-03-31 23:00:00',
               '2017-03-31 23:00:00', '2017-03-31 23:00:00'],
              dtype='datetime64[ns]', name='Start date', length=646510, freq=None)

In [13]:
import requests
from datetime import datetime

In [14]:
requests.get

In [16]:
date_range_Q1 = pd.date_range('2017/1/1', '2017/3/30', freq='D').tz_localize('US/Eastern')
weather_Q1 = pd.DataFrame()
for date in date_range_Q1:
    #result_Q1 = requests.get(f'https://api.darksky.net/forecast/{secret key}/38.907,-77.0417,{int(date.timestamp())}?units=ca')
    result_json_Q1 = result_Q1.json()
    df_weather_Q1 = pd.DataFrame(columns=['time', 'temperature', 'atemperatue', 'humidity', 'windSpeed'])
    for entry in result_json_Q1['hourly']['data']:
        df_weather_Q1.loc[len(df_weather_Q1)] = [pd.to_datetime(entry['time'], unit='s').tz_localize('uct').tz_convert('US/Eastern'), entry['temperature'], entry['apparentTemperature'], entry['humidity'], entry['windSpeed']]
        weather_Q1 = pd.concat([weather_Q1, df_weather_Q1], sort=True)

In [17]:
weather_Q1.to_csv('weatherwashingtonQ1.csv', index=False)

In [54]:
df_weather_Q1 = pd.read_csv('weatherwashingtonQ1.csv')

In [19]:
df_weather_Q1.rename(columns = {'time':'datetime'}, inplace = True)

In [20]:
df_weather_Q1_B = df_weather_Q1.set_index('datetime')

In [21]:
df_weather_Q1['datetimelocal'] = df_weather_Q1.datetime.str[0:19]

In [22]:
df_weather_Q1_C = df_weather_Q1

In [23]:
dfnew_Q1=df_Q1.reset_index()

In [24]:
dfnew_Q1['datetime'] = dfnew_Q1['Start date'].dt.floor('H')

In [25]:
dfnew_Q1['datetimelocal'] = dfnew_Q1['datetime'].astype(str)

In [26]:
dfnew_Q1_B = dfnew_Q1.set_index('datetimelocal')

In [27]:
result_Q1=df_weather_Q1_C.merge(dfnew_Q1_B, on='datetimelocal')

In [28]:
df_Q2 = pd.read_csv('2017Q2-capitalbikeshare-tripdata.csv')

In [29]:
df_Q2.Duration = pd.to_timedelta(df_Q2.Duration, unit='s')

In [30]:
df_Q2['Start date'] = pd.to_datetime(df_Q2['Start date'])

In [31]:
df_Q2.set_index('Start date', inplace=True)

In [32]:
df_Q2.index.hour

Int64Index([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
            ...
            23, 23, 23, 23, 23, 23, 23, 23, 23, 23],
           dtype='int64', name='Start date', length=1104418)

In [33]:
df_Q2.index.floor(freq='H')

DatetimeIndex(['2017-04-01 00:00:00', '2017-04-01 00:00:00',
               '2017-04-01 00:00:00', '2017-04-01 00:00:00',
               '2017-04-01 00:00:00', '2017-04-01 00:00:00',
               '2017-04-01 00:00:00', '2017-04-01 00:00:00',
               '2017-04-01 00:00:00', '2017-04-01 00:00:00',
               ...
               '2017-06-30 23:00:00', '2017-06-30 23:00:00',
               '2017-06-30 23:00:00', '2017-06-30 23:00:00',
               '2017-06-30 23:00:00', '2017-06-30 23:00:00',
               '2017-06-30 23:00:00', '2017-06-30 23:00:00',
               '2017-06-30 23:00:00', '2017-06-30 23:00:00'],
              dtype='datetime64[ns]', name='Start date', length=1104418, freq=None)

In [34]:
df_weather_Q2 = pd.read_csv('weatherwashingtonQ2.csv')

In [35]:
df_weather_Q2.rename(columns = {'time':'datetime'}, inplace = True)

In [36]:
df_weather_Q2_B = df_weather_Q2.set_index('datetime')

In [37]:
df_weather_Q2['datetimelocal'] = df_weather_Q2.datetime.str[0:19]

In [38]:
df_weather_Q2_C = df_weather_Q2

In [39]:
dfnew_Q2=df_Q2.reset_index()

In [40]:
dfnew_Q2['datetime'] = dfnew_Q2['Start date'].dt.floor('H')

In [41]:
dfnew_Q2['datetimelocal'] = dfnew_Q2['datetime'].astype(str)

In [42]:
dfnew_Q2_B = dfnew_Q2.set_index('datetimelocal')

In [43]:
result_Q2=df_weather_Q2_C.merge(dfnew_Q2_B, on='datetimelocal')

In [44]:
df_Q3 = pd.read_csv('2017Q3-capitalbikeshare-tripdata.csv')

In [45]:
df_Q3.Duration = pd.to_timedelta(df_Q3.Duration, unit='s')

In [46]:
df_Q3['Start date'] = pd.to_datetime(df_Q3['Start date'])

In [47]:
df_Q3.set_index('Start date', inplace=True)

In [48]:
df_Q3.index.hour

Int64Index([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
            ...
            23, 23, 23, 23, 23, 23, 23, 23, 23, 23],
           dtype='int64', name='Start date', length=1191585)

In [49]:
df_Q3.index.floor(freq='H')

DatetimeIndex(['2017-07-01 00:00:00', '2017-07-01 00:00:00',
               '2017-07-01 00:00:00', '2017-07-01 00:00:00',
               '2017-07-01 00:00:00', '2017-07-01 00:00:00',
               '2017-07-01 00:00:00', '2017-07-01 00:00:00',
               '2017-07-01 00:00:00', '2017-07-01 00:00:00',
               ...
               '2017-09-30 23:00:00', '2017-09-30 23:00:00',
               '2017-09-30 23:00:00', '2017-09-30 23:00:00',
               '2017-09-30 23:00:00', '2017-09-30 23:00:00',
               '2017-09-30 23:00:00', '2017-09-30 23:00:00',
               '2017-09-30 23:00:00', '2017-09-30 23:00:00'],
              dtype='datetime64[ns]', name='Start date', length=1191585, freq=None)

In [50]:
date_range_Q3 = pd.date_range('2017/7/1', '2017/9/30', freq='D').tz_localize('US/Eastern')
weather_Q3 = pd.DataFrame()
for date in date_range_Q3:
    result_Q3 = requests.get(f'https://api.darksky.net/forecast/8573e2b1efaaf449cf1c97d49080c952/38.907,-77.0417,{int(date.timestamp())}?units=ca')
    result_json_Q3 = result_Q3.json()
    df_weather_Q3 = pd.DataFrame(columns=['time', 'temperature', 'atemperatue', 'humidity', 'windSpeed'])
    for entry in result_json_Q3['hourly']['data']:
        df_weather_Q3.loc[len(df_weather_Q3)] = [pd.to_datetime(entry['time'], unit='s').tz_localize('uct').tz_convert('US/Eastern'), entry['temperature'], entry['apparentTemperature'], entry['humidity'], entry['windSpeed']]
        weather_Q3 = pd.concat([weather_Q3, df_weather_Q3], sort=True)

In [51]:
weather_Q3.to_csv('weatherwashingtonQ3.csv', index=False)

In [53]:
df_weather_Q3 = pd.read_csv('weatherwashingtonQ3.csv')

In [55]:
df_weather_Q3.rename(columns = {'time':'datetime'}, inplace = True)

In [56]:
df_weather_Q3_B = df_weather_Q3.set_index('datetime')

In [57]:
df_weather_Q3['datetimelocal'] = df_weather_Q3.datetime.str[0:19]

In [58]:
df_weather_Q3_C = df_weather_Q3

In [59]:
dfnew_Q3=df_Q3.reset_index()

In [60]:
dfnew_Q3['datetime'] = dfnew_Q3['Start date'].dt.floor('H')

In [61]:
dfnew_Q3['datetimelocal'] = dfnew_Q3['datetime'].astype(str)

In [62]:
dfnew_Q3_B = dfnew_Q3.set_index('datetimelocal')

In [63]:
result_Q3=df_weather_Q3_C.merge(dfnew_Q3_B, on='datetimelocal')

In [64]:
df_Q4 = pd.read_csv('2017Q4-capitalbikeshare-tripdata.csv')

In [65]:
df_Q4.Duration = pd.to_timedelta(df_Q4.Duration, unit='s')

In [66]:
df_Q4['Start date'] = pd.to_datetime(df_Q4['Start date'])

In [67]:
df_Q4.set_index('Start date', inplace=True)

In [68]:
df_Q4.index.hour

Int64Index([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
            ...
            23, 23, 23, 23, 23, 23, 23, 23, 23, 23],
           dtype='int64', name='Start date', length=815264)

In [69]:
df_Q4.index.floor(freq='H')

DatetimeIndex(['2017-10-01 00:00:00', '2017-10-01 00:00:00',
               '2017-10-01 00:00:00', '2017-10-01 00:00:00',
               '2017-10-01 00:00:00', '2017-10-01 00:00:00',
               '2017-10-01 00:00:00', '2017-10-01 00:00:00',
               '2017-10-01 00:00:00', '2017-10-01 00:00:00',
               ...
               '2017-12-31 23:00:00', '2017-12-31 23:00:00',
               '2017-12-31 23:00:00', '2017-12-31 23:00:00',
               '2017-12-31 23:00:00', '2017-12-31 23:00:00',
               '2017-12-31 23:00:00', '2017-12-31 23:00:00',
               '2017-12-31 23:00:00', '2017-12-31 23:00:00'],
              dtype='datetime64[ns]', name='Start date', length=815264, freq=None)

In [70]:
date_range_Q4 = pd.date_range('2017/10/1', '2017/12/31', freq='D').tz_localize('US/Eastern')
weather_Q4 = pd.DataFrame()
for date in date_range_Q4:
    result_Q4 = requests.get(f'https://api.darksky.net/forecast/8573e2b1efaaf449cf1c97d49080c952/38.907,-77.0417,{int(date.timestamp())}?units=ca')
    result_json_Q4 = result_Q4.json()
    df_weather_Q4 = pd.DataFrame(columns=['time', 'temperature', 'atemperatue', 'humidity', 'windSpeed'])
    for entry in result_json_Q4['hourly']['data']:
        df_weather_Q4.loc[len(df_weather_Q4)] = [pd.to_datetime(entry['time'], unit='s').tz_localize('uct').tz_convert('US/Eastern'), entry['temperature'], entry['apparentTemperature'], entry['humidity'], entry['windSpeed']]
        weather_Q4 = pd.concat([weather_Q4, df_weather_Q4], sort=True)

In [71]:
weather_Q4.to_csv('weatherwashingtonQ4.csv', index=False)

In [72]:
df_weather_Q4 = pd.read_csv('weatherwashingtonQ4.csv')

In [73]:
df_weather_Q4.rename(columns = {'time':'datetime'}, inplace = True)

In [74]:
df_weather_Q4_B = df_weather_Q4.set_index('datetime')

In [75]:
df_weather_Q4['datetimelocal'] = df_weather_Q4.datetime.str[0:19]

In [76]:
df_weather_Q4_C = df_weather_Q4

In [77]:
dfnew_Q4=df_Q4.reset_index()

In [78]:
dfnew_Q4['datetime'] = dfnew_Q4['Start date'].dt.floor('H')

In [79]:
dfnew_Q4['datetimelocal'] = dfnew_Q4['datetime'].astype(str)

In [80]:
dfnew_Q4_B = dfnew_Q4.set_index('datetimelocal')

In [81]:
result_Q4=df_weather_Q4_C.merge(dfnew_Q4_B, on='datetimelocal')

In [85]:
result_Q4

,atemperatue,humidity,temperature,datetime_x,windSpeed,datetimelocal,Start date,Duration,End date,Start station number,Start station,End station number,End station,Bike number,Member type,datetime_y
0,12.43,0.65,12.43,2017-10-01 00:00:00-04:00,4.28,2017-10-01 00:00:00,2017-10-01 00:00:02,00:03:17,2017-10-01 00:03:19,31214,17th & Corcoran St NW,31229,New Hampshire Ave & T St NW,W21022,Member,2017-10-01 00:00:00
1,12.43,0.65,12.43,2017-10-01 00:00:00-04:00,4.28,2017-10-01 00:00:00,2017-10-01 00:00:23,00:07:14,2017-10-01 00:07:38,31104,Adams Mill & Columbia Rd NW,31602,Park Rd & Holmead Pl NW,W00470,Member,2017-10-01 00:00:00
2,12.43,0.65,12.43,2017-10-01 00:00:00-04:00,4.28,2017-10-01 00:00:00,2017-10-01 00:00:56,00:15:55,2017-10-01 00:16:52,31221,18th & M St NW,31103,16th & Harvard St NW,W20206,Member,2017-10-01 00:00:00
3,12.43,0.65,12.43,2017-10-01 00:00:00-04:00,4.28,2017-10-01 00:00:00,2017-10-01 00:00:56,00:07:41,2017-10-01 00:08:37,31111,10th & U St NW,31102,11th & Kenyon St NW,W21014,Member,2017-10-01 00:00:00
4,12.43,0.65,12.43,2017-10-01 00:00:00-04:00,4.28,2017-10-01 00:00:00,2017-10-01 00:00:59,00:55:57,2017-10-01 00:56:56,31260,23rd & E St NW,31260,23rd & E St NW,W22349,Casual,2017-10-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8432396,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:43:17,00:04:37,2017-12-31 23:47:54,31109,7th & T St NW,31118,3rd & Elm St NW,W21036,Member,2017-12-31 23:00:00
8432397,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:51:55,00:06:39,2017-12-31 23:58:35,31125,15th & W St NW,31110,20th St & Florida Ave NW,W23147,Casual,2017-12-31 23:00:00
8432398,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:55:19,00:06:33,2018-01-01 00:01:52,31209,1st & N St SE,31609,Maine Ave & 7th St SW,W20144,Member,2017-12-31 23:00:00
8432399,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:57:42,00:21:59,2018-01-01 00:19:42,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,W20860,Member,2017-12-31 23:00:00
8432400,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:58:21,00:04:26,2018-01-01 00:02:48,31229,New Hampshire Ave & T St NW,31119,14th & Belmont St NW,W01459,Member,2017-12-31 23:00:00

In [88]:
resultQ1_B = result_Q1.set_index('datetime_y')

In [89]:
resultQ2_B = result_Q2.set_index('datetime_y')

In [90]:
resultQ3_B = result_Q3.set_index('datetime_y')

In [91]:
resultQ4_B = result_Q4.set_index('datetime_y')

In [92]:
result_allQs = pd.concat([resultQ1_B, resultQ2_B, resultQ3_B, resultQ4_B])

In [96]:
result_allQs

,atemperatue,humidity,temperature,datetime_x,windSpeed,datetimelocal,Start date,Duration,End date,Start station number,Start station,End station number,End station,Bike number,Member type
datetime_y,,,,,,,,,,,,,,,
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:00:41,00:03:41,2017-01-01 00:04:23,31634,3rd & Tingey St SE,31208,M St & New Jersey Ave SE,W00869,Member
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:06:53,00:27:56,2017-01-01 00:34:49,31258,Lincoln Memorial,31270,8th & D St NW,W00894,Casual
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:07:10,00:22:36,2017-01-01 00:29:47,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W21945,Casual
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:07:22,00:22:07,2017-01-01 00:29:30,31289,Henry Bacon Dr & Lincoln Memorial Circle NW,31222,New York Ave & 15th St NW,W20012,Casual
2017-01-01 00:00:00,5.62,0.40,7.32,2017-01-01 00:00:00-05:00,9.12,2017-01-01 00:00:00,2017-01-01 00:07:36,00:27:16,2017-01-01 00:34:52,31258,Lincoln Memorial,31270,8th & D St NW,W22786,Casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:43:17,00:04:37,2017-12-31 23:47:54,31109,7th & T St NW,31118,3rd & Elm St NW,W21036,Member
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:51:55,00:06:39,2017-12-31 23:58:35,31125,15th & W St NW,31110,20th St & Florida Ave NW,W23147,Casual
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:55:19,00:06:33,2018-01-01 00:01:52,31209,1st & N St SE,31609,Maine Ave & 7th St SW,W20144,Member
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:57:42,00:21:59,2018-01-01 00:19:42,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,W20860,Member
2017-12-31 23:00:00,-12.04,0.59,-8.92,2017-12-31 23:00:00-05:00,5.59,2017-12-31 23:00:00,2017-12-31 23:58:21,00:04:26,2018-01-01 00:02:48,31229,New Hampshire Ave & T St NW,31119,14th & Belmont St NW,W01459,Member

In [97]:
#result_allQs.to_csv('result_allQs1.csv', index=False)

In [116]:
import requests
url = 'https://gbfs.capitalbikeshare.com/gbfs/en/station_information.json'
response = requests.get(url)
stations = pd.DataFrame(response.json()['data']['stations'])

In [128]:
stations_2 = stations

In [129]:
stations_2

,station_id,external_id,name,short_name,lat,lon,region_id,rental_methods,capacity,electric_bike_surcharge_waiver,eightd_has_key_dispenser,has_kiosk,Start station number
0,1,082469cc-1f3f-11e7-bf6b-3863bb334450,Eads St & 15th St S,31000,38.858971,-77.053230,41,"[CREDITCARD, KEY]",15,False,False,True,31000
1,2,08246b69-1f3f-11e7-bf6b-3863bb334450,18th St & S Eads St,31001,38.857250,-77.053320,41,"[CREDITCARD, KEY]",11,False,False,True,31001
2,3,08246c35-1f3f-11e7-bf6b-3863bb334450,Crystal Dr & 20th St S,31002,38.856425,-77.049232,41,"[CREDITCARD, KEY]",17,False,False,True,31002
3,4,08246cd5-1f3f-11e7-bf6b-3863bb334450,Crystal Dr & 15th St S,31003,38.860170,-77.049593,41,"[CREDITCARD, KEY]",11,False,False,True,31003
4,5,08246d68-1f3f-11e7-bf6b-3863bb334450,Aurora Hills Cmty Ctr / 18th St & S Hayes St,31004,38.857866,-77.059490,41,"[CREDITCARD, KEY]",11,False,False,True,31004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,605,0cabc1c7-cf6f-4afd-9242-c011b77f6330,Valley Ave & Wheeler Rd SE,31824,38.836646,-76.993589,42,"[CREDITCARD, KEY]",19,False,False,True,31824
575,606,db81ad06-aad3-4e23-b2b9-05b39b41f8fc,Ridge Rd Community Center,31718,38.876227,-76.940981,42,"[CREDITCARD, KEY]",19,False,False,True,31718
576,607,7641069c-42a6-4e3e-9769-7df51da6978d,Fort Stanton Rec Center,31825,38.857369,-76.977688,42,"[CREDITCARD, KEY]",19,False,False,True,31825
577,608,7a19d0e7-2b3c-4805-b843-1aec84a05bfe,Reservoir Rd & 38th St NW,31325,38.912614,-77.074323,42,"[CREDITCARD, KEY]",19,False,False,True,31325
578,609,d325a449-32d7-488d-b746-9455ad003834,22nd & H St NW,31127,38.898925,-77.048852,42,"[CREDITCARD, KEY]",17,False,False,True,31127

In [130]:
stations_2['Start station number'] = stations_2['short_name'].astype(int)
#stations_2.rename(columns = {'short_name':'Start station number'}, inplace = True)

In [131]:
stations_2

,station_id,external_id,name,short_name,lat,lon,region_id,rental_methods,capacity,electric_bike_surcharge_waiver,eightd_has_key_dispenser,has_kiosk,Start station number
0,1,082469cc-1f3f-11e7-bf6b-3863bb334450,Eads St & 15th St S,31000,38.858971,-77.053230,41,"[CREDITCARD, KEY]",15,False,False,True,31000
1,2,08246b69-1f3f-11e7-bf6b-3863bb334450,18th St & S Eads St,31001,38.857250,-77.053320,41,"[CREDITCARD, KEY]",11,False,False,True,31001
2,3,08246c35-1f3f-11e7-bf6b-3863bb334450,Crystal Dr & 20th St S,31002,38.856425,-77.049232,41,"[CREDITCARD, KEY]",17,False,False,True,31002
3,4,08246cd5-1f3f-11e7-bf6b-3863bb334450,Crystal Dr & 15th St S,31003,38.860170,-77.049593,41,"[CREDITCARD, KEY]",11,False,False,True,31003
4,5,08246d68-1f3f-11e7-bf6b-3863bb334450,Aurora Hills Cmty Ctr / 18th St & S Hayes St,31004,38.857866,-77.059490,41,"[CREDITCARD, KEY]",11,False,False,True,31004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,605,0cabc1c7-cf6f-4afd-9242-c011b77f6330,Valley Ave & Wheeler Rd SE,31824,38.836646,-76.993589,42,"[CREDITCARD, KEY]",19,False,False,True,31824
575,606,db81ad06-aad3-4e23-b2b9-05b39b41f8fc,Ridge Rd Community Center,31718,38.876227,-76.940981,42,"[CREDITCARD, KEY]",19,False,False,True,31718
576,607,7641069c-42a6-4e3e-9769-7df51da6978d,Fort Stanton Rec Center,31825,38.857369,-76.977688,42,"[CREDITCARD, KEY]",19,False,False,True,31825
577,608,7a19d0e7-2b3c-4805-b843-1aec84a05bfe,Reservoir Rd & 38th St NW,31325,38.912614,-77.074323,42,"[CREDITCARD, KEY]",19,False,False,True,31325
578,609,d325a449-32d7-488d-b746-9455ad003834,22nd & H St NW,31127,38.898925,-77.048852,42,"[CREDITCARD, KEY]",17,False,False,True,31127

In [132]:
stations_summary = stations_2[['Start station number', 'lat', 'lon']]

In [133]:
stations_summary=stations_summary.set_index('Start station number')

In [134]:
stations_summary

                            lat        lon
Start station number
31000                 38.858971 -77.053230
31001                 38.857250 -77.053320
31002                 38.856425 -77.049232
31003                 38.860170 -77.049593
31004                 38.857866 -77.059490
...                         ...        ...
31824                 38.836646 -76.993589
31718                 38.876227 -76.940981
31825                 38.857369 -76.977688
31325                 38.912614 -77.074323
31127                 38.898925 -77.048852

[579 rows x 2 columns]

In [ ]:
result_allQs_stst=result_allQs.merge(stations_summary, on='Start s')

In [127]:
#result_allQs['Start station number'] = result_allQs['Start station number'].astype(str)

MemoryError: