In [4]:
names = ['Rajnish', 'Gesa', 'Juan', 'Irem', 'Amirali']

In [5]:
names

['Rajnish', 'Gesa', 'Juan', 'Irem', 'Amirali']

In [6]:
names[0]

'Rajnish'

In [7]:
names[1]

'Gesa'

In [8]:
names[-1]

'Amirali'

In [9]:
names[-2]

'Irem'

In [10]:
names[1:-1]

['Gesa', 'Juan', 'Irem']

In [14]:
names[::-2]

['Amirali', 'Juan', 'Rajnish']

In [15]:
import pandas as pd

In [21]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], index=['first_row', 'second_row', 'third_row'], columns=['first', 'second', 'third'])

In [22]:
df

            first  second  third
first_row       1       2      3
second_row      4       5      6
third_row       7       8      9

In [28]:
df.index

Index(['first_row', 'second_row', 'third_row'], dtype='object')

In [32]:
df.loc['first_row', 'second']

2

In [33]:
df.iloc[0, 1]

2